# Visual Studio Code
.vscode/

# NodeJS
node_modules/

# Private Modules
modules/node-dori
commands/*
config.json
test.js

# Exclusions
!commands/example.js
!commands/reload.js
!commands/help.js
!commands/shutdown.js