# Visual Studio Code
.vscode/

# NodeJS
node_modules/

# Private
modules/node-dori
commands/*
config.json
error.txt

# Exclusions
!commands/example.js
!commands/bot/reload.js
!commands/help.js
!commands/bot/shutdown.js
!commands/bot/logs.js